body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.f-p-t-container {
  width: 500px;
  height: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background-color: rgb(255, 200, 117);
}

.s-b-container {
  width: 90%;
  height: 15%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgb(58, 199, 255);
}
